.filter-bar {
  position: sticky;
  top: var(--navbar-height);
  z-index: 2;
  background-color: white;

  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  align-items: center;
  .radio-group-status {
    .radio-btn {
      background-color: #f3f5f2;
      margin: 0.2rem;
      border-radius: 1rem;
      font-size: 0.8rem;
      /* font-weight: 700; */
    }
    .radio-btn.checked {
      color: white;
      font-weight: 700;
      background-color: rgb(20, 20, 20);
      border: none;
      font-size: 0.8rem;
    }
    .radio-btn.hidden {
      display: none;
    }
    .radio-btn:hover {
      font-size: 0.8rem;
      /* font-weight: 700; */
      /* color: black; */
      /* color: white; */
      /* border: none; */
    }
  }
  .sortby-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    label {
      padding-right: 0.5rem;
      font-weight: 700;
    }
    .input-select {
      border-radius: 1rem;
      padding: 0 1rem;
      background-color: #f3f5f2;
    }
  }
}

@media (max-width: 767px) {
  .sortby-container {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center !important;
  }
  .status-container {
    display: flex;
    justify-content: center;
  }
}
