.navbar-container {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  height: var(--navbar-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 0.5rem; */
  padding: 0.2rem 1rem;
  /* height: 5rem; */
  border-bottom: 1px solid #f0f0f0;
  .logo {
    display: flex;
    align-items: center;
    div {
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 2px;
    }
  }
  .navigate-tabs {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /* text-align: center; */
    .btn-wrapper {
      /* gap: 1rem; */
      background-color: #f3f5f2;
      border-radius: 1rem;
      padding: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      .all {
        margin-right: 1rem;
      }
    }
    .tab-btn {
      letter-spacing: 1px;
      color: grey;
      background-color: #f3f5f2;
      border-radius: 0.5rem;
      border: none;
      transition: none;
      box-shadow: none;

      transition: transform 0.2s ease-out;
    }
    .tab-btn.active {
      font-weight: bolder;
      color: black;
      background-color: white;
    }
    /* .nav-btn:hover,
    .nav-btn:focus,
    .nav-btn:active {
      transform: none;
    } */
    .tab-btn:hover {
      border: none !important;
      color: black !important;
      transform: scale(1.04);
    }
  }
  .new-task-btn-container {
    text-align: right;
    .new-task-btn {
      background-color: #008000;
      border-radius: 0.7rem;
      transition: transform 0.2s ease-out;

      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .new-task-btn:hover {
      transform: scale(1.1);
      background-color: #03b203;
    }
  }
}
